@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


/*Сброс стилей для всех браузеров*/
* {
  box-sizing: border-box;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol {
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Конец сброса стилей*/





.root {
  width: 1440px;
  color: #242321;
  font-family: 'Open Sans', Arial, sans-serif;/*DIN Pro допиши универсальные стили*/
  margin: 0 auto;
  background-color: gray;
}

.page {
  background-color: #fff;
}


.header__info {
  display: flex;
  flex-direction: row;
  background-color: #242321;
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 43px auto 33px 150px;
  font-size: 16px;/*13*/
}

.nav__item:not(:last-child) {
  margin-right: 45px;
}

.nav__link {
  text-decoration: none;
  color: #FBFBFB;
}

.nav__link:hover {
  text-decoration: underline;
}

.header__phone {
  background-color: #FCB300;
  font-size: 20px;/*18*/
  font-weight: 600;
  max-width: 330px;
  width: 100%;
  margin-right: 150px;
}

.phone {
  display: flex;
  flex-direction: row;
  margin-left: 35px;
}

.phone:first-child {
  margin-top: 7px;
  margin-bottom: 5px;
}

.phone__text {
  margin-right: 15px;
}

.a1 {
  width: 33px;
  height: 33px;
  margin-right: 5px;
  margin-top: -5px;
}

.viber {
  width: 24px;
  height: 24px;
  margin-top: 0;
  margin-right: 10px;
}

.mts {
  width: 31px;
  height: 31px;
  margin-top: -5px;
}

/*выровняй кнопку по центру*/
.phone__button {
  border: none;
  background-color: #FCB300;
  text-decoration: underline;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 70px;/*вместо 81px*/
}

.phone__button:hover {
  text-decoration: none;
}

.header__block {
  background-image: url(images/header-phone.png);
  background-repeat: no-repeat;
  width: 100%;
  /* max-width: 1440px; */
  text-transform: uppercase;
  padding-top: 420px;
}

.block__info {
  font-size: 40px;
  max-width: 930px;
  background-color: #FCB300;
  padding-left: 150px;
  padding-top: 35px;
  /* padding-bottom: 29px; */
  display: flex;
}

.block__info-one {
  display: block;
  max-width: 410px;
  margin-right: 63px;
  margin-bottom: 29px;
  font-weight: bold;
}

.block__text-white {
  color: #FBFBFB;
  font-weight: 900;
}

.block__text-font {
  display: flex;
  font-size: 16px;
  font-weight: 300;
  margin-top: 3px;
  margin-bottom: 53px;
  text-transform: none;
}

.info__button {
  font-size: 18px;
  font-weight: 600;
  background-color: #FBFBFB;
  padding: 16px 70px;
  border: none;
  text-transform: uppercase;
  color: #242321;
  /* border-radius: 5px; */
}

.info__button:hover {
  cursor: pointer;
  color: #fbfbfb;
  background-color: #242321;
  outline: 2px solid #FCB300;
  transition: background-color 1s, color 1s, outline .5s;

}

.block__info-two {
  position: relative;
}

.b, .c, .e {
  position: absolute;
}

.b {
  top: -30px;
  left: 33px;
}

.c {
  top: 43px;
  left: 116px;
}

.e {
  top: 111px;
  left: 216px;
  z-index: 15;
}

.info-two_category {
  position: absolute;
  font-weight: 700;
  font-size: 16px;
  color: #FCB300;
  margin-top: 229px;/*232*/
  margin-left: 245px;
  z-index: 20;
  background-color: #fbfbfb;
  line-height: 25.5px;
}




.study__title, .price__title, .instructor__title, .advantages__title, .cars__title, .reviews__title {
  margin: 90px auto 30px 150px;
  font-weight: 600;
  font-size: 36px;
}

.study__cover {
  position: relative;
}

.study__info {
  position: absolute;
  max-width: 930px;
  background-color: #FCB300;
  padding: 28px 30px 28px 150px;
  font-size: 16px;
  font-weight: 300;
}

.study__info p:not(:last-child) {
  margin-bottom: 5px;
}

.keys {
  position: absolute;
  top: -3px;
  right: 150px;
}


.study__item {
  border: 5px solid #FCB300;
  border-right: none;
  padding: 202px 150px 70px 130px;
  margin-left: 25px;
  display: flex;
  flex-direction: row;
}

.study__item ul:first-child {
  margin-right: 35px;
}

.study__item-list {
  display: flex;
  flex-direction: row;
}

.study__item-list:not(:last-child) {
  margin-bottom: 33px;
  /* margin-right: 35px; */
}

.study__item-list:last-child {
  margin-top: 50px;
}



h3 {
  margin-bottom: 10px;
}

.check__block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check {
  margin-right: 22px;
  width: 39,42px;
  height: 32,38px;
  vertical-align: middle;
}

.price__info {
  background-color: #242321;
  padding-left: 150px;
  padding-bottom: 33px;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}

.price__item {
  max-width: 270px;
  position: relative;
}

.price__item:not(:last-child) {
  margin-right: 127px;
}

.price__car {
  position: absolute;
  top: -25px;
  right: 0px;
}

.price__item-header {
  color: #FBFBFB;
  background-color: #FCB300;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-right: 29px;
  padding-left: 29px;
}

.item__b {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.b-cost {
  width: 52.93px;
  margin-bottom: 10px;
}

.item__kpp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item__kpp-a {
  margin-top: 34px;
}

.item__kpp-m {
  margin-bottom: 27px;
}

.item__category {
  margin-bottom: 5px;
}

.price__main {
  color: #FBFBFB;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 12px;
  margin-top: 24px;
  margin-left: 29px;
}

.price__main p:first-child {
  margin-bottom: 8px;
}

.price__main-car {
  font-size: 18px;
  color: #FCB300;
  font-weight: bold;
}

.price__main ul {
  margin-top: 15px;
  list-style-type: disc;
  font-size: 16px;
  font-weight: 300px;
  margin-left: -24px;
}

.price__main ul li:first-child {
  margin-bottom: 10px;
}

.price__byn {
  text-align: right;
  margin-bottom: 13px;
}

.price__byn-font {
  font-weight: 600;
  font-size: 48px;
  color: #FCB300;
  text-transform: uppercase;
}

.price__byns {
  font-size: 24px;
}

.price__item-header-c {
  display: block;
}

.cce-cost {
  width: 197px;
  margin: 0 auto;
  margin-top: 3px;
  margin-bottom: 5px;
}


.price__trailer {
    position: absolute;
    top: -33px;
    right: 0px;
}

.price__truck {
  position: absolute;
  top: -33px;
  right: 66px;
}

.your__car {
  background-color: #FCB300;
  width: auto;
  margin-top: -33px;
  padding-top: 61px;
  padding-bottom: 24px;
  padding-right: 150px;/*instead 217*/
  text-align: right;
}

.your__car p:first-child {
  font-size: 16px;
  color: #FBFBFB;
  margin-bottom: 13px;
}

.your__car p:nth-of-type(2) {
  font-size: 40px;
  color: #FBFBFB;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: -2px;
}

.your__car p:nth-of-type(3) {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  color: #242321;
  margin-bottom: 21px;
}

.your__car p:last-child {
  font-size: 16px;
  font-weight: 300;
  color: #242321;
  margin-left: 58px;
  margin-bottom: 12px;
}

.price__your-bun {
  color: #FBFBFB;
  font-weight: 600;
  font-size: 48px;
  text-transform: uppercase;
}

.your__byn {
  margin-bottom: 12px;
}

.instructor__info {
  display: flex;
  flex-direction: column;
  position: relative;
}

.instructor__photo {
  width: 930px;
  position: relative;
  z-index: 10;
}

.instructor__text {
  position: absolute;
  width: 705px;
  top: 33px;
  left: 735px;
  background-color: #242321;
  color: #fff;
  padding-top: 50px;
  padding-left: 68px;
  z-index: 12;
}

.instructor__text-p {
  font-size: 18px;
  display: inline-block;
  width: 487px
}

.instructor__text-p:not(:last-child) {
  margin-bottom: 30px;
}

.instructor__text-p:last-child {
  margin-bottom: 50px;
}

.form__container {
  background-color: #FCB300;
  margin-top: -43px;
}

.instructor__form {
  border: 5px solid #FBFBFB;
  max-width: 1367px;
  margin: 0 auto;
  position: relative;
  margin-top: 18px;
  padding-bottom: 60px;
  margin-bottom: 33px;
}

.span-one {
  font-weight: 500;
  font-size: 40px;
  color: #fbfbfb;
  margin-top: 61px;
  margin-left: 114px;
  text-transform: uppercase;
}

.span-two {
  font-weight: 500;
  font-size: 40px;
  color: #242321;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
}

.ten {
  position: absolute;
  left: 980px;/*1014*/
  top: 30px;
  font-size: 280px;
  font-weight: 500;
  color: #fbfbfb;
}

.ten-percent {
  font-size: 48px;
  font-weight: 500;
  color: #242321;
  margin-left: -52px;
}

.span-three {
  font-size: 18px;
  margin-top: 5px;
  margin-left: 470px;
  margin-bottom: 50px;
}

.instructor__feedback {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 114px;
}

.instructor__feedback-input {
  width: 263px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 33px;
  font-size: 18px;
  margin-right: 30px;
}

.instructor__feedback-button {
  width: 263px;
  padding: 14px auto;
  font-size: 18px;
  text-transform: uppercase;
}

.advantages__background {
  background-color: #FCB300;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.advantages__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fff;
}

.advantages__item {
  background-color: #FBFBFB;
  border: 5px solid #FCB300;
  width: 135px;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 12px;
  padding-right: 12px;
}

.advantages__item:not(:last-child) {
  margin-right: 50px;
}

.advantages__item-first {
  font-weight: 500;
  font-size: 36px;
  color: #8BD329;
}

.advantages__item-second {
  font-weight: 500;
  font-size: 14px;
  color: #242321;
  margin-bottom: 5px;
  text-transform: uppercase;
}

 .advantages__item-third {
  font-size: 12px;
  color: #242321;
  text-align: center;
 }

 .advantages__icon {
  margin-bottom: 13px;
  }

  .cars__block {
    padding-left: 26px;
    padding-right: 26px;
    background-color: #242321;
  }

  .cars__list {
    margin-bottom: 71px;
    color: #FBFBFB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .car__item {
    display: flex;
    flex-direction: column;
  }

  .car__item-header {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
  }

  .car__b-span {
    font-weight: 500;
    font-size: 100px;
    text-transform: uppercase;
  }

  .car__kpp {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    align-self: flex-end;
    margin-bottom: 22px;
    margin-left: 5px;
  }

  .car__kpp-category {
    font-weight: 500;
    font-size: 13px;
    color: #FCB300;
  }

  .car__item-main {
    width: 320px;
    height: 320px;
    margin-bottom: 5px;
    object-fit: cover;
  }

  .car__item-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .car__footer-img {
    width: 103px;
    height: 103px;
    object-fit: cover;
  }

  .form__container-car {
    padding-bottom: 33px;
  }

  .instructor__form-car {
    border: 5px solid #FCB300;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 60px;
  }

  .span-one-car {
    font-weight: 500;
    font-size: 40px;
    margin-top: 61px;
    margin-left: 114px;
    text-transform: uppercase;
    color: #FBFBFB;
  }

  .span-two-car {
    font-weight: 500;
    font-size: 40px;
    color: #FCB300;
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 70px;
  }

  .sixty {
    position: absolute;
    left: 980px;/*1014*/
    top: 25px;
    font-size: 280px;
    font-weight: 500;
    color: #fbfbfb;
  }

  .sixty-minutes {
    font-size: 24px;
    font-weight: 500;
    color: #fcb300;
    margin-left: -60px;
  }

  .reviews__blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
    padding-left: 150px;
  }

  .reviews__item {
    box-sizing: border-box;
    border: 5px solid #FCB300;
    width: 290px;
    height: 290px;
    display: flex;
    flex-direction: row;
    padding-right: 14px;
    position: relative;
  }

  .reviews__label {
    position: absolute;
    top: -2px;
    left: 245px;
  }

  .reviews__photo {
    width: 50px;
    height: 50px;
    margin-top: 16px;
    margin-left: 13px;
    margin-right: 15px;
    border-radius: 50%;
  }

  .reviews__text_name {
    font-weight: 500;
    font-size: 12px;
    margin-top: 34px;
    margin-bottom: 17px;
  }

  .reviews__text_text {
    font-size: 12px;
  }

  .reviews__item-last {
    box-sizing: border-box;
    border: 5px solid #FCB300;
    background-color: #FCB300;
    text-transform: uppercase;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  .reviews__arrow {
    position: absolute;
    top: 63px;
    right: 13px;
  }

  .reviews__item-last p:first-child {
    display: inline-block;
    max-width: 178px;
    color: #FBFBFB;
    margin-top: 23px;
    margin-left: 30px;
  }

  .reviews__item-last p:nth-of-type(2) {
    margin-left: 53px;
  }

  .reviews__img {
    width: 333px;
    height: 181px;
  }

















.footer__block-one {
  display: flex;
  flex-direction: row;
  padding-left: 150px;
  padding-right: 150px;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin-right: 150px;
}

.contacts__p {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 25px;/*35*/
}

.footer__phone {
  font-size: 18px;/*18*/
  font-weight: 500;
  max-width: 335px;
}

.phone-space {
  margin-left: 0;
}

.social__p {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.social__text {
  font-weight: 500;
  font-size: 14px;/*13*/
  margin-top: 12px;
}

.footer__modal__container {
  margin-left: auto;
}

.footer__block-two {
  background-color: #242321;
  padding-right: 150px;
  padding-left: 150px;
  padding-top: 16px;
  margin-top: -292px;
  display: flex;
  flex-direction: row;
}

.footer__info {
  max-width: 400px;
  text-transform: uppercase;
  margin-right: 110px;
}

.footer__info-text {
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
  color: #FBFBFB;
}

.footer__text-yellow {
  color: #FCB300;
}

.footer__text-font {
  font-size: 13px;
  text-transform: lowercase;
  color: #FCB300;
  margin-top: 5px;
  display: inline-block;
  margin-bottom: 143px;
}

.footer__list {
  margin-top: 63px;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.footer div:first-child {
  margin-right: 40px;
}

.footer div li:first-child {
  margin-bottom: 16px;
}

.footer__list-item {
  font-size: 13px;
}

.copyright {
  background-color: #fcb300;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
}

.copyright__text {
  text-align: center;
}
































   .modal {
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 25;
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s, opacity .5s ease;
   }

   .modal__container {
     width: 336px;
     background-color: #242321;
     border: 5px solid #FCB300;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding-left: 36px;
     padding-right: 36px;
     position: relative;
   }

   .modal__close-btn {
     background-color: #000;
     background-image: url('images/close-btn.png');
     background-repeat: no-repeat;
     background-size: cover;
     width: 38px;
     height: 38px;
     position: absolute;
     top: 5px;
     right: 5px;
     border-radius: 5px;
     border: none;
   }

   .modal__close-btn:hover {
     cursor: pointer;
     background-color: #fff;
     transition: background-color .3s;
   }

   .modal__title {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #FBFBFB;
    text-align: center;
    margin-top: 81px;
    margin-bottom: 38px;
   }

   .modal__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
   }

   .modal__input {
     padding-top: 14px;
     padding-bottom: 14px;
     padding-left: 33px;
     font-size: 18px;
   }

   .modal__input:first-child {
     margin-bottom: 11px;
   }

   .modal__btn {
    margin-top: 30px;
    font-weight: 500;
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-transform: uppercase;
    background-color: #FCB300;
    margin-bottom: 92px;
   }

   .modal__opened {
    visibility: visible;
    opacity: 1;
   }

